// @import "color";
// @import "useableVars";

.contact {
  width: 100%;
  height: 100vh;
  background-color: $second;
  @include flexRowCenter;

  > main {
    background-color: $first;
    height: 60vh;
    width: 70%;
    border-radius: 0 100px 100px 0;
    padding: 50px;

    > form {
      margin: 2rem;
      @include flexColumnCenter;
      > div {
        height: 3rem;
        @include flexRow;
        justify-content: center;
        width: 60%;
        margin: 0.5rem;

        > label {
          font: 400 1.2rem $text1;
          width: 20%;
          margin: 0 1rem;
        }

        > input {
          align-self: stretch;
          width: 80%;
          padding: 1rem;
          border-radius: 10px;
          border: 1px solid rgb(0, 0, 0);
        }
      }

      > button {
        width: 200px;
        margin-top: 50px;
        padding: 0.5rem 2rem;
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        background-color: $fourth;
        font: 500 1.25rem $text1;

        &:hover {
            opacity: 0.9;
        }
      }

    }

    // > div {
    //     margin: 20px;
    // }
  }
}
