@mixin flexRow {
    display: flex;
    justify-content: center;
}

@mixin flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin flexColumnSimple {
//     display:flex;
//     flex-direction: column;
// }

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}